.about-us-first-section
  display flex
  flex-direction row

.about-us-first-section-info-container
  margin 110px 28% 0 8%
  width 100%

.about-us-first-section-panel
  background-color $icanGrayPanel
  height 628px
  position relative
  width 600px

.about-us-img-1-container,
.about-us-img-1
  height 328px
  width 513px

.about-us-img-1-container
  bottom 40px
  position absolute
  right 40px

/*SECOND SECTION*/

.about-us-second-section
  display flex
  flex-direction row
  margin 78px 5% 105px 5%

.about-us-img-2-container
.about-us-img-2
  height 519px
  width 381px

.about-us-second-section-text-decorator
  bottom -86px
  left 58px

.about-us-second-section-info-container
  margin 58px 0 0 56px

.about-us-second-section-paragraph-container
  padding 120px 0px 0px 80px

@media screen and (max-width 786px)
  .about-us-first-section
    flex-direction column-reverse

  .about-us-first-section-info-container
    margin 20px 5% 0 5%
    width auto

  .about-us-first-section-panel
    height 270px
    width 200px

  .about-us-img-1-container,
  .about-us-img-1
    height 190px
    width 297px

  .about-us-img-1-container
    bottom 20px
    left 0

  .about-us-img-2-container,
  .about-us-img-2
    display none

  .about-us-background-img-2
    background-image url("../img/about-us/about-us-img-2.jpg")
    height 140px
    width 100%

  .about-us-second-section
    flex-direction column
    margin-top 15px

  .about-us-second-section-info-container
    margin 40px 0 0 0

  .about-us-second-section-paragraph-container
    padding 80px 0 0 0

  .about-us-second-section-text-decorator
    bottom -50px
    left 30px