.contact-section
  background-image url("../img/backgrounds/contact-background.jpg")
  background-position right -210px
  display flex
  flex-direction row
  justify-content space-between
  padding 90px 5% 150px 5%

.contact-form-section
  width 489px
  padding-left 80px

.contact-paragraph-form-container
  padding-top 35px

.contact-panel-container
  margin-top 140px

.contact-panel-content
  background-color $icanGreen
  box-shadow 0 2px 21px 0 rgba(0, 0, 0, 0.22)
  padding 37px 25px
  width 339px

.contact-panel-content:first-child > .contact-panel-paragraph-container
  margin-bottom 40px

.contact-panel-paragraph-container
  position relative

.contact-panel-content-padding
  padding 0 29px 0 39px

.contact-panel-dot
  background-color $white
  border-radius 100px
  height 5px
  left 22px
  position absolute
  top 8px
  width 5px

.contact-panel-paragraph
  color $white
  font-size remify(14px)
  line-height 22px

  & a
    color $white
    text-decoration underline

.contact-panel-separator
  background-color $white
  height 2px
  margin 22px 0
  width 100%

.contact-social-network-margin
  margin-bottom 10px

.contact-social-network-container
  align-items center
  display flex
  flex-direction row

a:first-child > .contact-social-network-container
  margin-bottom 18px

.contact-icons-container
  display flex
  justify-content center
  width 18px

.contact-icons
  color $white
  font-weight bold

.contact-social-network-text
  color $white
  font-size remify(13px)
  letter-spacing 1.2px
  margin 4px 0 0 10px

@media screen and (max-width 786px)
  .contact-section
    flex-direction column
    padding 30px 5% 100px 5%

  .contact-form-section
    padding-left 0
    width 100%

  .contact-panel-container
    margin-top 60px

  .contact-panel-content
    width 100%
