.homepage-cover
  align-items flex-start
  background-image url("../img/backgrounds/homepage-cover.jpg")
  display flex
  height 603px
  position relative

.homepage-cover-info
  margin-left 12.5%
  margin-top 170px
  max-width 613px

.homepage-cover-title
  color $white
  font-size remify(35px)
  letter-spacing 0
  line-height 44px

.ican-paragraph-cover-container
  margin 35px 0

.homepage-paragraph
  font-size remify(20px)

.paragraph
  &-cover
    color $white
    line-height 34px

  &-form
    color $icanBlack
    line-height 38px

.homepage-paragraph-form-container
  padding-top 100px

.homepage-cover-decorator
  background-color $icanGreen
  bottom -30px
  height 57px
  left 0
  margin 0 auto
  position absolute
  right 0
  width 2px

/*SECOND SECTION*/
.homepage-second-section
  background-image url("../img/backgrounds/homepage-background-1.jpg")
  display flex
  flex-direction row
  padding 130px 5% 200px 5%

.homepage-img-1-container
  position relative

.homepage-img-1-container,
.homepage-img-1
  height 409px
  width 462px

.homepage-img-2-container
  bottom -62px
  position absolute
  right -120px

.homepage-img-2-container,
.homepage-img-2
  height 256px
  width 368px

.homepage-second-section-info
  padding-left 120px

.homepage-second-section-paragraph-container
  padding 70px 0 35px 0

.homepage-second-section-paragraph-container,
.homepage-second-section-paragraph-container + a
  padding-left 100px

/* THIRD SECTION */

.homepage-third-section
  display flex
  flex-direction row
  justify-content space-between
  padding 120px 0 100px 5%

.homepage-img-4-container,
.homepage-img-4
  height 188px
  width 276px

.homepage-img-4-container
  margin-top 65px
  position relative

.homepage-img-3-container,
.homepage-img-3
  height 345px
  width 508px

.homepage-img-3-container
  bottom 100px
  position absolute
  right 80px

.homepage-third-section-separator
  background-color $icanGray
  height 1px
  margin 47px 0 57px 0
  width 100%
