.homepage-cover
  align-items flex-start
  background-image url("../img/backgrounds/homepage-cover.jpg")
  display flex
  height 603px
  position relative

.homepage-cover-info
  margin-left 12.5%
  margin-top 170px
  max-width 613px

.homepage-cover-title
  color $white
  font-size remify(35px)
  letter-spacing 0
  line-height 44px

.ican-paragraph-cover-container
  margin 35px 0

.homepage-paragraph
  font-size remify(20px)

.paragraph
  &-cover
    color $white
    line-height 34px

  &-form
    color $icanBlack
    line-height 38px

.homepage-paragraph-form-container
  padding-top 100px

.homepage-cover-decorator
  background-color $icanGreen
  bottom -30px
  height 57px
  left 0
  margin 0 auto
  position absolute
  right 0
  width 2px

/*SECOND SECTION*/
.homepage-second-section
  background-image url("../img/backgrounds/homepage-background-1.jpg")
  display flex
  flex-direction row
  padding 130px 5% 200px 5%

.homepage-img-1-container
  position relative

.homepage-img-1-container,
.homepage-img-1
  height 409px
  width 462px

.homepage-img-2-container
  bottom -62px
  position absolute
  right -120px

.homepage-img-2-container,
.homepage-img-2
  height 256px
  width 368px

.homepage-second-section-info
  padding-left 120px

.homepage-second-section-paragraph-container
  padding 70px 0 35px 0

.homepage-second-section-paragraph-container,
.homepage-second-section-paragraph-container + a
  padding-left 100px

/* THIRD SECTION */

.homepage-third-section
  display flex
  flex-direction row
  justify-content space-between
  padding 120px 0 100px 5%

.homepage-third-section-form-section
  width 489px
  padding-left 80px

.homepage-img-4-container,
.homepage-img-4
  height 188px
  width 276px

.homepage-img-4-container
  margin-top 65px
  position relative

.homepage-img-3-container,
.homepage-img-3
  height 345px
  width 508px

.homepage-img-3-container
  bottom 100px
  position absolute
  right 80px

.homepage-third-section-separator
  background-color $icanGray
  height 1px
  margin 47px 0 57px 0
  width 100%

.homepage-third-section-form
  display flex
  flex-direction column

@media screen and (max-width 768px)
  .homepage-cover
    height 470px

  .homepage-cover-info
    margin 120px 30px 0 30px
    max-width initial

  .homepage-cover-title
    font-size remify(22px)
    line-height 30px

  .homepage-paragraph
    font-size remify(17px)

  .paragraph-cover
    line-height 24px

  .ican-base-btn
    height 40px
    width 120px

  /*SECOND SECTION MOBILE*/
  
  .homepage-second-section
    flex-direction column
    padding 60px 5% 110px 5%

  .homepage-img-1-container, 
  .homepage-img-1
    height 200px
    width 225px

  .homepage-img-2-container,
  .homepage-img-2
    height 130px
    width 186px

  .homepage-img-2-container
    bottom -30px
    right -40px

  .homepage-second-section-info
    padding-left 0
    padding-top 50px

  .ican-special-title
    font-size remify(50px)

  .ican-title-container
    left 50px
    top 23px

  .ican-text-decorator
    left 25px

  .ican-title
    font-size remify(30px)

  .homepage-second-section-paragraph-container,
  .homepage-second-section-paragraph-container + a
    padding-left 50px
    padding-right 20px

  .ican-paragraph
    font-size remify(15px)
    line-height 25px

  /*THIRD SECTION MOBILE*/
  
  .homepage-third-section
    flex-direction column-reverse
    padding 0 5% 100px 5%

  .homepage-img-4-container,
  .homepage-img-4
    height 120px
    width 176px

  .homepage-img-3-container,
  .homepage-img-3
    height 165px
    width 243px

  .homepage-img-3-container
    bottom 55px
    right 40px

  .homepage-third-section-images-mobile
    display flex
    justify-content flex-end

  .homepage-third-section-form-section
    padding-left 0
    width 100%

  .join-us-paragraph-mobile
    padding-left 50px

  .homepage-paragraph-form-container
    padding-top 40px

  .paragraph-form
    line-height 27px

  .homepage-third-section-separator
    margin 25px 0 30px 0

@media screen and (min-width 890px) and (max-width 990px)
  .homepage-img-1-container,
  .homepage-img-1
    height 320px
    width 361px

  .homepage-img-2-container,
  .homepage-img-2
    height 180px
    width 259px

  .homepage-img-2-container
    bottom -30px
    right -60px

  .homepage-img-3-container,
  .homepage-img-3
    height 240px
    width 353px

@media screen and (min-width 769px) and (max-width 889px)
  .homepage-second-section
    flex-direction column

  .homepage-second-section-info
    padding 80px 0 0 0

  .homepage-third-section
    flex-direction column-reverse

  .homepage-img-4-container
    float right
