{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="wrapper-space-navbar">
    <div class="about-us-first-section">
      <div class="about-us-first-section-info-container">
        <div class="ican-special-title-container">
          <h1 class="ican-font-hindsiliguri-semibold ican-special-title no-margin">Who are we?</h1>
          <div class="ican-title-container">
            <h2 class="ican-font-hindsiliguri-semibold ican-title no-margin">Who are we?</h2>
          </div>
          <div class="ican-text-decorator"></div>
        </div>
        <div class="homepage-second-section-paragraph-container">
          <p class="ican-font-metropolis-regular ican-paragraph no-margin">
            We are a non-profit group of doctors, lawyers, pharmacists, scientists, lobbyists and concerned citizens that are devoted and dedicated to bringing forward the full benefits of the Medical Cannabis industry into the health system helping to reshape the healthcare landscape with proper regulations, scientific studies and social responsibility.
          </p>
        </div>
      </div>
      <div class="about-us-first-section-panel">
        <div class="about-us-img-1-container">
          <img class="about-us-img-1-container" src="img/about-us/about-us-img-1.jpg">
        </div>
      </div>
    </div>

    <div class="about-us-second-section">
      <div class="about-us-img-2-container">
        <img class="about-us-img-2" src="img/about-us/about-us-img-2.jpg">
      </div>
      <div class="about-us-second-section-info-container">
        <div class="ican-special-title-container">
          <h1 class="ican-font-hindsiliguri-semibold ican-special-title no-margin">Leading Scientific</h1>
          <div class="ican-title-container">
            <h2 class="ican-font-hindsiliguri-semibold ican-title no-margin">Leading Scientific,<br>Regulatory and Technical Expert.</h2>
          </div>
          <div class="ican-text-decorator about-us-second-section-text-decorator"></div>
        </div>
        <div class="about-us-second-section-paragraph-container">
          <p class="ican-font-metropolis-regular ican-paragraph no-margin">
            ICAN is the leading expert regarding Medical Cannabis in the region. We strive to make the process of finding information that is publicly accessible in a fast, simple, and transparent manner.<br>We are also focused on helping authorities, medical and pharmaceutical thought leaders, as well as business-owners come together for better understanding of the beneficial aspects and social impact of the Medical Cannabis.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
