{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="legal-warning ican-font-metropolis-regular">
  <h1>Aviso legal</h1>
  <h2>Autoría y misión</h2>
  <section>
    <p>
      <span>ican.mx</span> es un sitio web dedicado a la divulgación de todos los beneficios de la Cannabis Medicinal dentro del sistema de salud.
    </p>
    <p>
      El objetivo de <span>ican.mx</span> es divulgar todos los aspectos de la investigación del cannabis medicinal así como la prevención, atención, seguimiento farmacéutico y médico con las regulaciones apropiadas, estudios científicos y responsabilidad social que surgen de la misma.
    </p>
    <p>
      Cualquier información publicada en esta página sobre el uso medicinal del cannabis, es divulgada con el fin de aproximar la información científica existente a quienes estén interesados en el tema y no intenta en ningún caso hacer panegírico al consumo de la marihuana. El propósito es única y exclusivamente informar.
    </p>
    <p>
      La información mostrada no es suplente del consejo de un profesional de la salud, ni intenta sustituir una consulta o examen médico. Es preciso que quien pretenda utilizar cannabis medicinal pregunte a un médico o profesional especialista sobre las recomendaciones y cautelas sobre el consumo de marihuana con fines terapéuticos. Sobre todo, si existe preocupación o se tiene la evidencia de poseer algún problema de salud.
    </p>
    <p>
      <span>ican.mx</span> no ofrece consultas ni diagnósticos <i>online</i>.
    </p>
    <p>
      Bajo ninguna circunstancia, <span>ican.mx</span>  se hará responsable de cualquier consecuencia directa, indirecta, específica, accidental o invariable derivada del mal uso del cannabis. Ya que está manifiestamente señalado que toda la información es brindada única y exclusivamente con fines informativos.
    </p>
  </section>
  <h2>Fuentes de información y uso de la misma</h2>
  <section>
    <p>
      La información de esta web ha sido elaborada por integrantes de <span>ican.mx</span>. Cuando la información se obtenga de otras fuentes, estas estarán debidamente  referenciadas. Todas las entradas están firmadas y consta en ellas su fecha de publicación y, cuando procede, de modificación.
    </p>
    <p>
      Se permite el uso de los contenidos publicados en <span>ican.mx</span>, siempre y cuando se cite al autor y se enlace con el lugar de la publicación. El autor no se responsabiliza del uso que terceras personas puedan dar a estos contenidos. <span>ican.mx</span> contiene enlaces a sitios web de terceras partes sobre las que el autor no tiene ningún control y por tanto no se hace responsable de su contenido.
    </p>
  </section>
</div>
{% endblock %}
