{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="privacy-notice-container privacy-text-color">
    <h1 class="ican-font-hindsiliguri-semibold">Aviso de Privacidad</h1>
    <h2 class="ican-font-hindsiliguri-semibold">Información a Recabar:</h2>
    <p class="ican-font-metropolis-regular">
      Los datos que usted como titular nos proporcione, serán tratados bajo los principios establecidos en la Ley (licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad).
    </p>
    <h2 class="ican-font-hindsiliguri-semibold">Para las finalidades señaladas en el presente Aviso de Privacidad, utilizaremos los siguientes datos personales:</h2>
    <ul class="ican-font-metropolis-regular">
      <li>
        Datos Personales de Contacto: Nombre completo, nombre de usuario, correo electrónico, y demás datos recabados en nuestro formulario.
      </li>
      <li>
        Los datos recabados de menores de edad entre 14 y 17 años, se encuentran amparados por el presente Aviso de Privacidad.
      </li>
    </ul>
    <h2 class="ican-font-hindsiliguri-semibold">Finalidades del tratamiento de sus Datos Personales</h2>
    <ul class="ican-font-metropolis-regular">
      <li>
        Realizar un análisis estadístico;
      </li>
      <li>
        Contactarlo para pedir opinión sobre contenidos del sitio y/o eventos;
      </li>
      <li>
        Enviarle notificaciones sobre eventos, campañas e información relevante;
      </li>
      <li>
        Hacer perfiles con los gustos y preferencias del usuario.
      </li>
    </ul>
    <h2 class="ican-font-hindsiliguri-semibold">Transferencia de sus Datos Personales:</h2>
    <p class="ican-font-metropolis-regular">
      Le informamos que sus datos personales no serán transferidos ni tratados por personas físicasy/o morales distintas a las que forman parte del responsable.
    </p>
    <h2 class="ican-font-hindsiliguri-semibold">Ejercicio de los Derechos ARCO:</h2>
    <p class="ican-font-metropolis-regular">
      En todo momento, Usted tiene derecho de ACCEDER a los datos personales que poseamos y a los detalles del tratamiento de los mismos, así como a RECTIFICARLOS en caso de ser inexactos o solicitar su CANCELACIÓN cuando considere que resulten ser excesivos o innecesarios para las finalidades que justificaron su obtención u OPONERSE al tratamiento de los mismos, mediante la solicitud respectiva en escrito libre que cumpla con los requisitos establecidos en la Ley. En caso de que requiera información sobre dicha solicitud, podrá contactar a nuestro Comité de Privacidad, enviando un correo electrónico a la dirección: privacidad@ican.mx
    </p>
    <p class="ican-font-metropolis-regular">
      Una vez recibida su solicitud, le comunicaremos la determinación adoptada dentro del plazo que establece la Ley y en caso de que sea procedente, se hará efectiva de acuerdo a los plazos señalados por la misma.
    </p>
    <p class="ican-font-metropolis-regular">
      Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Para revocar su consentimiento deberá presentar una solicitud en los mismos términos que aquella que se suscribió para el ejercicio de sus Derechos ARCO.
    </p>
    <h2 class="ican-font-hindsiliguri-semibold">Limitación del uso y divulgación de sus datos:</h2>
    <p class="ican-font-metropolis-regular">
      El Responsable tiene el compromiso de resguardar sus datos personales bajo estrictas medidas de seguridad físicas, técnicas y administrativas, las cuales han sido implementadas, conforme al Reglamento de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y demás disposiciones legales aplicables,  con el objeto de proteger dichos datos personales contra cualquier daño, pérdida, alteración, destrucción, uso, acceso o tratamiento no autorizados, y buscando, ante todo garantizar la confidencialidad de los datos y asegurarnos de minimizar cualquier riesgo o vulneración que pudiera presentarse.
    </p>
    <p class="ican-font-metropolis-regular">
      Cambios al Aviso de Privacidad:<br>El presente Aviso de Privacidad podrá ser modificado en el futuro. En todo caso, cualquier modificación al mismo se hará de su conocimiento mediante notificación por correo electrónico.<br>Fecha de última actualización: 12 de Diciembre 2017
    </p>
  </div>
{% endblock %}
