{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="cic-container">

    <div class="cic-intro">
      <div class="cic-intro-img-container">
        <img class="cic-intro-img" src="img/cic/cic-img.jpg">
      </div>

      <div class="cic-intro-content">
        <div class="ican-special-title-container cic-intro-special-title-container">
          <h1 class="ican-font-hindsiliguri-bold ican-special-title no-margin cic-intro-special-title">Information Center</h1>
          <div class="ican-title-container cic-intro-title-container">
            <h2 class="ican-font-hindsiliguri-bold ican-title no-margin">Cannabis Information Center (CIC)</h2>
          </div>
          <div class="ican-text-decorator cic-intro-decorator"></div>
        </div>
        <div class="cic-intro-paragraph-container">
          <p class="ican-font-metropolis-regular ican-paragraph no-margin">
            The Cannabis Information Center is a scientific and technical advisory body that provides information in an objective and timely manner, establishing an optimal strategy for particular information needs, under the direction of qualified professional, whose specific objective is: To respond to the demand of information in an objective way evaluated, updated and timely.
          </p>
        </div>
      </div>
    </div>

    <div class="cic-functions">
      <div class="cic-functions-decorator"></div>
      <div>
        <div class="ican-special-title-container">
          <h1 class="ican-font-hindsiliguri-bold ican-special-title no-margin cic-functions-special-title">Functions</h1>
          <div class="ican-title-container cic-functions-title-container">
            <h2 class="ican-font-hindsiliguri-bold ican-title no-margin">Functions</h2>
          </div>
        </div>
        <div class="cic-functions-content">
          <h3 class="cic-functions-subtitle ican-font-metropolis-semibold">In general, there are two functions:</h3>
          <ul class="cic-functions-ul">
            <div class="cic-functions-li-container">
              <li class="ican-font-metropolis-regular ican-paragraph">
                Active information: activities in which initiative is taken when making information, with an educational, training, research and dissemination orientation (it is mainly done through newsletters).
              </li>
            </div>
            <div class="cic-functions-li-container">
              <li class="ican-font-metropolis-regular ican-paragraph">
                Passive information: activities that attends to the information demands with respect to particular cases (they are the users' consultations).
              </li>
            </div>
          </ul>
        </div>
      </div>
      <div class="cic-functions-img-container">
        <img class="cic-functions-img" src="img/homepage/homepage-img-4.jpg">
        <div class="cic-functions-img-decorator-container">
          <img class="cic-functions-img-decorator" src="img/cic/cic-functions.jpg">
        </div>
      </div>
      <div class="cic-functions-img-mobile-container">
        <img class="cic-functions-img-mobile" src="img/cic/cic-functions-mobile.jpg">
      </div>
    </div>

    <div class="cic-activities">
      <div>
        <div class="cic-activities-title-container">
          <h2 class="ican-font-hindsiliguri-bold ican-title no-margin">Specific activities</h2>
        </div>
        <div class="cic-activities-info-content">
          <div class="cic-activities-icon-container">
            <img class="cic-activities-icon-testtube" src="img/icons/icon-testtube.png">
          </div>
          <span class="cic-activities-info ican-font-metropolis-regular">Provide information to health professionals.</span>
        </div>
        <div class="cic-activities-info-content">
          <div class="cic-activities-icon-container">
            <img class="cic-activities-icon-atom" src="img/icons/icon-atom.png">
          </div>
          <span class="cic-activities-info ican-font-metropolis-regular">Provide information to officials of state agencies aimed at optimizing cannabis decision-making.</span>
        </div>
        <div class="cic-activities-info-content">
          <div class="cic-activities-icon-container">
            <img class="cic-activities-icon-microscope" src="img/icons/icon-microscope.png">
          </div>
          <span class="cic-activities-info ican-font-metropolis-regular">Provide information to patients and the general public.</span>
        </div>
      </div>
      <div class="cic-activities-separator"></div>
      <div>
        <div class="cic-activities-title-container">
          <h2 class="ican-font-hindsiliguri-bold ican-title no-margin">Who are our users?</h2>
        </div>
        <div class="cic-activities-info-content">
          <div class="cic-activities-icon-container">
            <img class="cic-activities-icon-heart" src="img/icons/icon-heart.png">
          </div>
          <span class="cic-activities-info ican-font-metropolis-regular">Health Professionals: Doctors, pharmacists, oncologists, pediatricians, etc.</span>
        </div>
        <div class="cic-activities-info-content">
          <div class="cic-activities-icon-container">
            <img class="cic-activities-icon-magnifyingglass" src="img/icons/icon-magnifyingglass.png">
          </div>
          <span class="cic-activities-info ican-font-metropolis-regular">Researchers.</span>
        </div>
        <div class="cic-activities-info-content">
          <div class="cic-activities-icon-container">
            <img class="cic-activities-icon-book" src="img/icons/icon-book.png">
          </div>
          <span class="cic-activities-info ican-font-metropolis-regular">Students.</span>
        </div>
        <div class="cic-activities-info-content">
          <div class="cic-activities-icon-container">
            <img class="cic-activities-icon-people" src="img/icons/icon-people.png">
          </div>
          <span class="cic-activities-info ican-font-metropolis-regular">General Population</span>
        </div>
      </div>
    </div>

    <div class="cic-info">
      <div class="cic-info-img-container">
        <img class="cic-info-img" src="img/cic/cic-info.jpg">
        <div class="cic-info-img-decorator-container">
          <img class="cic-info-img-decorator" src="img/homepage/homepage-img-4.jpg">
        </div>
      </div>
      <div class="cic-info-img-mobile-container">
        <img class="cic-info-img-mobile" src="img/cic/cic-info-mobile.jpg">
      </div>
      <div class="cic-info-content">
        <div class="ican-special-title-container cic-intro-special-title-container">
          <h1 class="ican-font-hindsiliguri-bold ican-special-title no-margin cic-info-special-title">Information</h1>
          <div class="ican-title-container cic-info-title-container">
            <h2 class="ican-font-hindsiliguri-bold ican-title no-margin">What information do we provide?</h2>
          </div>
          <div class="ican-text-decorator cic-info-decorator"></div>
        </div>
        <ul class="cic-functions-ul cic-info-ul">
          <div class="cic-functions-li-container">
            <li class="ican-font-metropolis-regular ican-paragraph">
              Information on efficacy and safety.
            </li>
          </div>
          <div class="cic-functions-li-container">
            <li class="ican-font-metropolis-regular ican-paragraph">
              Drug and food interaction.
            </li>
          </div>
          <div class="cic-functions-li-container">
            <li class="ican-font-metropolis-regular ican-paragraph">
              Mechanism of action when used for scientific and medicinal purposes.
            </li>
          </div>
          <div class="cic-functions-li-container">
            <li class="ican-font-metropolis-regular ican-paragraph">
              Availability in the national and international market.
            </li>
          </div>
          <div class="cic-functions-li-container">
            <li class="ican-font-metropolis-regular ican-paragraph">
              Technological, toxicological and legal information; amongst other.
            </li>
          </div>
        </ul>
      </div>
    </div>

    <div class="cic-media">
      <h2 class="ican-font-hindsiliguri-bold ican-title no-margin">Means for requesting information</h2>
      <div class="cic-media-info-container">
        <div class="cic-media-description-container">
          <span class="cic-media-description ican-font-metropolis-bold">ICAN Website</span>
          <span class="cic-media-description ican-font-metropolis-regular">www.ican.mx</span>
        </div>
        <div class="cic-media-separator"></div>
        <div class="cic-media-description-container">
          <span class="cic-media-description ican-font-metropolis-bold">ICAN's WhastApp</span>
          <div class="cic-whatsapp-container">
            <a href="https://api.whatsapp.com/send?phone=+52(771)2797612&text=ICAN:%20I%20%have20%the%20following%20questions%20or%20comments...">
              <button class="ican-font-metropolis-semibold ican-base-btn cic-whatsapp-button">WhatsApp us!</button>
            </a>
          </div>
          <span class="cic-media-description ican-font-metropolis-regular cic-phone">+52 (771) 279 7612</span>
        </div>
        <div class="cic-media-separator"></div>
        <div class="cic-media-description-container">
          <span class="cic-media-description ican-font-metropolis-bold">ICAN'S e-mail</span>
          <span class="cic-media-description ican-font-metropolis-regular">cic@ican.mx</span>
        </div>
      </div>
      <a href="contacto.html">
        <button class="ican-font-metropolis-semibold ican-base-btn">contact us</button>
      </a>
    </div>
  </div>
{% endblock %}
