{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="cic-container">

    <div class="cic-intro">
      <div class="cic-intro-img-container">
        <img class="cic-intro-img" src="img/cic/cic-img.jpg">
      </div>

      <div class="cic-intro-content">
        <div class="ican-special-title-container cic-intro-special-title-container">
          <h1 class="ican-font-hindsiliguri-bold ican-special-title no-margin cic-intro-special-title">Centro de información</h1>
          <div class="ican-title-container cic-intro-title-container">
            <h2 class="ican-font-hindsiliguri-bold ican-title no-margin">Centro de información del Cannabis (CIC)</h2>
          </div>
          <div class="ican-text-decorator cic-intro-decorator"></div>
        </div>
        <div class="cic-intro-paragraph-container">
          <p class="ican-font-metropolis-regular ican-paragraph no-margin">
            El Centro de información del Cannabis (CIC) es un órgano de asesoría técnico científica que proporciona información en forma objetiva y oportuna, constituyendo una estrategia óptima para atender necesidades particulares de información, bajo la dirección de un profesional calificado, cuyo objetivo específico es: Dar respuesta a la demanda de información de forma objetiva evaluada, actualizada y oportuna.
          </p>
        </div>
      </div>
    </div>

    <div class="cic-functions">
      <div class="cic-functions-decorator"></div>
      <div>
        <div class="ican-special-title-container">
          <h1 class="ican-font-hindsiliguri-bold ican-special-title no-margin cic-functions-special-title">Funciones</h1>
          <div class="ican-title-container cic-functions-title-container">
            <h2 class="ican-font-hindsiliguri-bold ican-title no-margin">Funciones</h2>
          </div>
        </div>
        <div class="cic-functions-content">
          <h3 class="cic-functions-subtitle ican-font-metropolis-semibold">En general se tienen dos funciones:</h3>
          <ul class="cic-functions-ul">
            <div class="cic-functions-li-container">
              <li class="ican-font-metropolis-regular ican-paragraph">
                La elaboración de información activa: son actividades en las cuales se toma iniciativa a la hora de realizar información, con una orientación educativa, formativa, de investigación y difusión (se realiza principalmente a través de boletines).
              </li>
            </div>
            <div class="cic-functions-li-container">
              <li class="ican-font-metropolis-regular ican-paragraph">
                Y la información pasiva, actividad que atiende a las demandas de información respecto a casos particulares (son las consultas de los usuarios).
              </li>
            </div>
          </ul>
        </div>
      </div>
      <div class="cic-functions-img-container">
        <img class="cic-functions-img" src="img/homepage/homepage-img-4.jpg">
        <div class="cic-functions-img-decorator-container">
          <img class="cic-functions-img-decorator" src="img/cic/cic-functions.jpg">
        </div>
      </div>
      <div class="cic-functions-img-mobile-container">
        <img class="cic-functions-img-mobile" src="img/cic/cic-functions-mobile.jpg">
      </div>
    </div>

    <div class="cic-activities">
      <div>
        <div class="cic-activities-title-container">
          <h2 class="ican-font-hindsiliguri-bold ican-title no-margin">Actividades específicas</h2>
        </div>
        <div class="cic-activities-info-content">
          <div class="cic-activities-icon-container">
            <img class="cic-activities-icon-testtube" src="img/icons/icon-testtube.png">
          </div>
          <span class="cic-activities-info ican-font-metropolis-regular">Brindar información a los profesionales de la salud.</span>
        </div>
        <div class="cic-activities-info-content">
          <div class="cic-activities-icon-container">
            <img class="cic-activities-icon-atom" src="img/icons/icon-atom.png">
          </div>
          <span class="cic-activities-info ican-font-metropolis-regular">Proporcionar información a los funcionarios de organismos del estado orientada a optimizar la toma de decisiones en materia de cannabis.</span>
        </div>
        <div class="cic-activities-info-content">
          <div class="cic-activities-icon-container">
            <img class="cic-activities-icon-microscope" src="img/icons/icon-microscope.png">
          </div>
          <span class="cic-activities-info ican-font-metropolis-regular">Proporcionar información a pacientes y público en general.</span>
        </div>
      </div>
      <div class="cic-activities-separator"></div>
      <div>
        <div class="cic-activities-title-container">
          <h2 class="ican-font-hindsiliguri-bold ican-title no-margin">¿Quiénes son los usuarios?</h2>
        </div>
        <div class="cic-activities-info-content">
          <div class="cic-activities-icon-container">
            <img class="cic-activities-icon-heart" src="img/icons/icon-heart.png">
          </div>
          <span class="cic-activities-info ican-font-metropolis-regular">Profesionales de la Salud: Médicos, farmacéuticos, oncólogos, pediatras, etc.</span>
        </div>
        <div class="cic-activities-info-content">
          <div class="cic-activities-icon-container">
            <img class="cic-activities-icon-magnifyingglass" src="img/icons/icon-magnifyingglass.png">
          </div>
          <span class="cic-activities-info ican-font-metropolis-regular">Investigadores.</span>
        </div>
        <div class="cic-activities-info-content">
          <div class="cic-activities-icon-container">
            <img class="cic-activities-icon-book" src="img/icons/icon-book.png">
          </div>
          <span class="cic-activities-info ican-font-metropolis-regular">Estudiantes.</span>
        </div>
        <div class="cic-activities-info-content">
          <div class="cic-activities-icon-container">
            <img class="cic-activities-icon-people" src="img/icons/icon-people.png">
          </div>
          <span class="cic-activities-info ican-font-metropolis-regular">Población en general.</span>
        </div>
      </div>
    </div>

    <div class="cic-info">
      <div class="cic-info-img-container">
        <img class="cic-info-img" src="img/cic/cic-info.jpg">
        <div class="cic-info-img-decorator-container">
          <img class="cic-info-img-decorator" src="img/homepage/homepage-img-4.jpg">
        </div>
      </div>
      <div class="cic-info-img-mobile-container">
        <img class="cic-info-img-mobile" src="img/cic/cic-info-mobile.jpg">
      </div>
      <div class="cic-info-content">
        <div class="ican-special-title-container cic-intro-special-title-container">
          <h1 class="ican-font-hindsiliguri-bold ican-special-title no-margin cic-info-special-title">Información</h1>
          <div class="ican-title-container cic-info-title-container">
            <h2 class="ican-font-hindsiliguri-bold ican-title no-margin">¿Qué información brindamos?</h2>
          </div>
          <div class="ican-text-decorator cic-info-decorator"></div>
        </div>
        <ul class="cic-functions-ul cic-info-ul">
          <div class="cic-functions-li-container">
            <li class="ican-font-metropolis-regular ican-paragraph">
              Información sobre eficacia y seguridad.
            </li>
          </div>
          <div class="cic-functions-li-container">
            <li class="ican-font-metropolis-regular ican-paragraph">
              Interacción medicamentosa y con alimentos.
            </li>
          </div>
          <div class="cic-functions-li-container">
            <li class="ican-font-metropolis-regular ican-paragraph">
              Mecanismo de acción cuando se emplea para fines científicos y medicinales.
            </li>
          </div>
          <div class="cic-functions-li-container">
            <li class="ican-font-metropolis-regular ican-paragraph">
              Disponibilidad en el mercado nacional e internacional.
            </li>
          </div>
          <div class="cic-functions-li-container">
            <li class="ican-font-metropolis-regular ican-paragraph">
              Información tecnológica, toxicológica y legal; entre otras.
            </li>
          </div>
        </ul>
      </div>
    </div>

    <div class="cic-media">
      <h2 class="ican-font-hindsiliguri-bold ican-title no-margin">Medios para solicitar información</h2>
      <div class="cic-media-info-container">
        <div class="cic-media-description-container">
          <span class="cic-media-description ican-font-metropolis-bold">Página ICAN</span>
          <span class="cic-media-description ican-font-metropolis-regular">www.ican.mx</span>
        </div>
        <div class="cic-media-separator"></div>
        <div class="cic-media-description-container">
          <span class="cic-media-description ican-font-metropolis-bold">WhatsApp de ICAN</span>
          <div class="cic-whatsapp-container">
            <a href="https://api.whatsapp.com/send?phone=+52(771)2797612&text=ICAN:%20Tengo%20%las20siguientes%20dudas%20o%20comentarios...">
              <button class="ican-font-metropolis-semibold ican-base-btn cic-whatsapp-button">escribir whatsapp</button>
            </a>
          </div>
          <span class="cic-media-description ican-font-metropolis-regular cic-phone">+52 (771) 279 7612</span>
        </div>
        <div class="cic-media-separator"></div>
        <div class="cic-media-description-container">
          <span class="cic-media-description ican-font-metropolis-bold">Correo electrónico de ICAN</span>
          <span class="cic-media-description ican-font-metropolis-regular">cic@ican.mx</span>
        </div>
      </div>
      <a href="contacto.html">
        <button class="ican-font-metropolis-semibold ican-base-btn">contáctanos</button>
      </a>
    </div>
  </div>
{% endblock %}
