{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="wrapper-space-navbar">
    <div class="contact-section bg-img-base">
      <div>
        <div class="ican-special-title-container">
          <h1 class="ican-font-hindsiliguri-bold ican-special-title no-margin">Contact us</h1>
          <div class="ican-title-container">
            <h2 class="ican-font-hindsiliguri-bold ican-title no-margin">Contact us</h2>
          </div>
        </div>
        <div class="contact-form-section">
          <div class="contact-paragraph-form-container">
            <p class="homepage-paragraph paragraph-form ican-font-metropolis-regular no-margin">
              Subscribe to our mailing list!!
            </p>
          </div>
          <div class="homepage-third-section-separator"></div>
          <form style="display: flex; flex-direction: column" id="ican-form-en" method="post" action="http://integrations.blick.mx/ican/join/en/">
            <div class="ican-input-base-container">
              <input class="ican-input-base ican-font-metropolis-regular" placeholder="Full name" type="text" name="name" required>
            </div>
            <div class="ican-input-base-container">
              <input class="ican-input-base ican-font-metropolis-regular" placeholder="E-mail address" type="email" name="email" required>
            </div>
            <div class="form-message-en"></div>
            <input class="ican-base-btn ican-font-metropolis-semibold" type="submit" name="" value="Send">
          </form>
        </div>
      </div>
      <div class="contact-panel-container">
        <div class="contact-panel-content">
          <div class="contact-panel-paragraph-container contact-panel-content-padding">
            <div class="contact-panel-dot"></div>
            <p class="contact-panel-paragraph ican-font-metropolis-regular no-margin">
              We will only send you relevant information; we won’t share your information with third parties or contact you unnecessarily
            </p>
          </div>
          <div class="contact-panel-paragraph-container contact-panel-content-padding">
            <div class="contact-panel-dot"></div>
            <p class="contact-panel-paragraph ican-font-metropolis-regular no-margin">
              You can unsubscribe anytime
            </p>
          </div>
          <div class="contact-panel-separator"></div>
          <div class="contact-panel-content-padding">
            <span class="contact-panel-paragraph ican-font-metropolis-bold no-margin">You can read our <a href="aviso-de-privacidad.html">privacy<br>policy here</a></span>
          </div>
          <div class="contact-panel-separator"></div>
          <div class="contact-panel-content-padding">
            <a href="">
              <div class="contact-social-network-container">
                <div class="contact-icons-container">
                  <i class="contact-icons fa fa-linkedin" aria-hidden="true"></i>
                </div>
                <span class="contact-social-network-text ican-font-metropolis-regular">institutodelCannabis</span>
              </div>
            </a>
            <a href="">
              <div class="contact-social-network-container">
                <div class="contact-icons-container">
                  <i class="contact-icons fa fa-facebook" aria-hidden="true"></i>
                </div>
                <span class="contact-social-network-text ican-font-metropolis-regular">medicinalmx</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
