{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
  <div>
    <div class="homepage-cover bg-img-base">
      <div class="homepage-cover-info">
        <div class="homepage-cover-title-container">
          <h1 class="ican-font-metropolis-extrabold homepage-cover-title no-margin">ICAN es experto en Cannabis Medicinal</h1>
        </div>
        <div class="ican-paragraph-cover-container">
          <p class="ican-font-metropolis-regular homepage-paragraph paragraph-cover no-margin">
            Nos esforzamos por hacer que el proceso de búsqueda de información sea rápido, simple, transparente y accesible al público
          </p>
        </div>
        <a href="nosotros.html">
          <button class="ican-font-metropolis-semibold ican-base-btn">Nosotros</button>
        </a>
      </div>
      <div class="homepage-cover-decorator"></div>
    </div>

    <div class="homepage-second-section bg-img-base">
      <div>
        <div class="homepage-img-1-container">
          <img class="homepage-img-1" src="img/homepage/homepage-img-1.jpg">
          <div class="homepage-img-2-container">
            <img class="homepage-img-2" src="img/homepage/homepage-img-2.jpg">
          </div>
        </div>
      </div>

      <div class="homepage-second-section-info">
        <div class="ican-special-title-container">
          <h1 class="ican-font-hindsiliguri-bold ican-special-title no-margin">¿Quiénes somos?</h1>
          <div class="ican-title-container">
            <h2 class="ican-font-hindsiliguri-bold ican-title no-margin">¿Quiénes somos?</h2>
          </div>
          <div class="ican-text-decorator"></div>
        </div>
        <div class="homepage-second-section-paragraph-container">
          <p class="ican-font-metropolis-regular ican-paragraph no-margin">
            Somos una asociación sin fines de lucro formada por doctores, abogados, farmacéuticos, científicos y ciudadanos dedicados a presentar todos los beneficios de la Cannabis Medicinal dentro del sistema de salud a fin de ayudar a remodelar el panorama de la prevención, atención, seguimiento farmacéutico y médico con las regulaciones apropiadas, estudios científicos y responsabilidad social.
          </p>
        </div>
        <a href="nosotros.html">
          <button class="ican-font-hindsiliguri-semibold ican-base-btn">Conocer más</button>
        </a>
      </div>
    </div>

    <div class="homepage-third-section">
      <div>
        <div class="ican-special-title-container">
          <h1 class="ican-font-hindsiliguri-bold ican-special-title no-margin">Únete</h1>
          <div class="ican-title-container">
            <h2 class="ican-font-hindsiliguri-bold ican-title no-margin">Únete</h2>
          </div>
        </div>
        <div class="homepage-third-section-form-section">
          <div class="homepage-paragraph-form-container join-us-paragraph-mobile">
            <p class="homepage-paragraph paragraph-form ican-font-metropolis-regular no-margin">
              Escríbenos tus comentarios y sugerencias; ayúdanos a construir la comunidad ICAN y participa en el diálogo con las autoridades, instituciones y público en general, ya que este emocionante tema continúa creciendo y desarrollándose.
            </p>
          </div>
          <div class="homepage-third-section-separator"></div>
          <form class="homepage-third-section-form" name="ican-form-es" method="post" action="http://integrations.blick.mx/ican/join/es/">
            <div class="ican-input-base-container">
              <input class="ican-input-base ican-font-metropolis-regular" placeholder="Nombre completo" type="text" name="name" required>
            </div>
            <div class="ican-input-base-container">
              <input class="ican-input-base ican-font-metropolis-regular" placeholder="Correo electrónico" type="email" name="email" required>
            </div>
            <input class="ican-base-btn ican-font-metropolis-semibold" type="submit" name="" value="Enviar">
          </form>
        </div>
      </div>
      <div class="homepage-third-section-images-mobile">
        <div class="homepage-img-4-container">
          <img class="homepage-img-4" src="img/homepage/homepage-img-4.jpg">
          <div class="homepage-img-3-container">
            <img class="homepage-img-3" src="img/homepage/homepage-img-3.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
