<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="https://blicklabs.github.io/project-ican/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ICAN" />
    <meta property="og:description" content="Nos esforzamos por hacer que el proceso de búsqueda de información sea rápido, simple, transparente y accesible al público" />
    <meta property="og:image" content="https://blicklabs.github.io/project-ican/img/backgrounds/homepage-cover.jpg" />
    <meta name="keywords" content="Cannabis, sin fines de lucro, salud, médicos, doctores, científicos, responsabilidad social, impacto, farmacéutico, autoridades, líderes">
    {% block meta %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="css/main.css">
    <link runat="server" rel="shortcut icon" href="img/favicon/ican-favicon.png" type="image/x-icon"/>
    <link runat="server" rel="icon" href="img/favicon/ican-favicon.png" type="image/ico"/>
    <title>ICAN</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112166710-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-112166710-1');
    </script>
  </head>
  <body>
    <div id="page">
      {% if section == 'home' or section == 'about-us' or section == 'contact' %}
        {% include 'partials/navbar.njk' %}
      {% else %}
        {% include 'partials/navegacion.njk' %}
      {% endif %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% if section == 'home' or section == 'about-us' or section == 'contact' %}
        {% include 'partials/footer.njk' %}
      {% else %}
        {% include 'partials/pie-pagina.njk' %}
      {% endif %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
  </body>
</html>
