<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block meta %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>{% if section != 'index' %}{% block title %}{% endblock %} - {% endif %}{{ projectName }}</title>
  </head>
  <body>
    <div id="page">
      {% if section == 'inicio' or section == 'nosotros' or section == 'contacto' %}
        {% include 'partials/navegacion.njk' %}
      {% else %}
        {% include 'partials/navbar.njk' %}
      {% endif %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% if section == 'inicio' or section == 'nosotros' or section == 'contacto' %}
        {% include 'partials/pie-pagina.njk' %}
      {% else %}
        {% include 'partials/footer.njk' %}
      {% endif %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
  </body>
</html>
