<footer class="site-footer bg-img-base">
  <div class="footer-decorator {% if section == 'index' %} line-home {% endif %} {% if section == 'about-us' %} line-about {% endif %} {% if section == 'contact' %} line-contact {% endif %}"></div>
  <div class="site-footer-first-section">
    <div class="site-footer-logo-container">
      <a href="/index.html">
        <img class="site-footer-logo" src="img/logos/ican-logo-variant.png">
      </a>
    </div>
    <div class="site-footer-separator"></div>
    <div class="site-footer-links-container">
      <div class="site-footer-link-space">
        <a href="/index.html">
          <span class="ican-site-link {% if section == 'index' %} link-selected {% endif %}">HOME</span>
        </a>
      </div>
      <div class="site-footer-link-space">
        <a href="about-us.html">
          <span class="ican-site-link">ABOUT US</span>
        </a>
      </div>
      <div class="site-footer-link-space">
        <a href="contact.html">
          <span class="ican-site-link {% if section == 'contact' %} link-selected {% endif %}">CONTACT</span>
        </a>
      </div>
    </div>
    <div class="site-footer-links-container">
      <div class="site-footer-link-space">
        <a href="https://www.linkedin.com/company/ican-ac/" target="_blank">
          <div class="footer-social-link-container">
            <div class="footer-icon-social-container">
              <img class="footer-icon-in" src="img/icons/ican-in.png">
            </div>
            <span class="ican-site-link">InstitutodelCannabis</span>
          </div>
        </a>
      </div>
      <div class="site-footer-link-space">
        <a href="https://www.facebook.com/medicinalmx/" target="_blank">
          <div class="footer-social-link-container">
            <div class="footer-icon-social-container">
              <img class="footer-icon-fb" src="img/icons/ican-fb.png">
            </div>
            <span class="ican-site-link">medicinalmx</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="site-footer-notice-container">
    <a href="">
      <span class="ican-site-link">Notice of Privacy</span>
    </a>
  </div>
</footer>
