<nav class="site-navbar">
  <div class="site-navbar__desktop-logo-container">
    <a href="home.html">
      <img class="ican-navbar-logo" src="img/logos/ican-logo.png" alt="Logo">
    </a>
  </div>
  <div class="site-navbar__menu-container">
    <div class="site-navbar__menu {% if section == 'home' %} nav-selected-link-container {% endif %}">
      <a href="home.html" class="site-navbar__menu-link {% if section == 'home' %} active {% endif %}">
        <span class="ican-font-metropolis-semibold ican-site-link nav-link {% if section == 'home' %} nav-selected-link {% endif %}">HOME</span>
      </a>
    </div>
    <div class="site-navbar__menu {% if section == 'about-us' %} nav-selected-link-container {% endif %}">
      <a href="about-us.html" class="site-navbar__menu-link {% if section == 'about-us' %} active {% endif %}">
        <span class="ican-font-metropolis-semibold ican-site-link nav-link {% if section == 'about-us' %} nav-selected-link {% endif %}">ABOUT US</span>
      </a>
    </div>
    <div class="site-navbar__menu {% if section == 'cic-en' %} nav-selected-link-container {% endif %}">
      <a href="cic-en.html" class="site-navbar__menu-link {% if section == 'cic-en' %} active {% endif %}">
        <span class="ican-font-metropolis-semibold ican-site-link nav-link {% if section == 'cic-en' %} nav-selected-link {% endif %}">CIC</span>
      </a>
    </div>
    <div class="site-navbar__menu {% if section == 'contact' %} nav-selected-link-container {% endif %}">
      <a href="contact.html" class="site-navbar__menu-link {% if section == 'contact' %} active {% endif %}">
        <span class="ican-font-metropolis-semibold ican-site-link nav-link {% if section == 'contact' %} nav-selected-link {% endif %}">CONTACT</span>
      </a>
    </div>
    <div class="nav-separator"></div>
    <div class="nav-lang-container">
      <a href="{% if section == 'home' %} index.html {% elif section == 'about-us' %} nosotros.html {% elif section == 'cic-en' %} cic.html {% elif section == 'contact' %} contacto.html {% endif %}">
        <span class="ican-font-metropolis-regular ican-site-link nav-link">ES</span>
      </a>
      <a href="{% if section == 'index' %} home.html {% elif section == 'nosotros' %} about-us.html {% elif section == 'cic' %} cic-en.html {% elif section == 'contacto' %} contact.html {% endif %}">
        <span class="ican-font-metropolis-regular ican-site-link nav-link" style="{% if section == 'home' or section == 'about-us' or section == 'cic-en' or section == 'contact' %} font-weight: bold; {% endif %}">EN</span>
      </a>
    </div>
  </div>
  <div data-attribute="" class="navbar-hamburguer-visibility"  id="hamburgerMenu">
    <div data-attribute="">
      <img class="hamburger-menu-icon" src="img/icons/menu.png" data-attribute="">
    </div>
  </div>
  <div class="hamburger-menu-container" id="menuContainer" data-attribute="">
    <div class="hamburger-menu-header" data-attribute="">
      <div class="" data-attribute="">
        <a href="home.html" data-attribute="">
          <img class="hamburger-logo" src="img/logos/ican-logo.png" data-attribute="">
        </a>
      </div>
      <div class="hamburger-close-container" id="hideHamburger">
        <img class="hamburger-close" src="img/icons/close-menu.png">
      </div>
    </div>
    <div class="hamburger-menu-body ican-font-metropolis-regular" data-attribute="">
      <a data-attribute="" href="home.html" class="hamburger-menu-link {% if section == 'home' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">HOME</span>
        </div>
      </a>
      <a data-attribute="" href="about-us.html" class="hamburger-menu-link {% if section == 'about-us' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">ABOUT US</span>
        </div>
      </a>
      <a data-attribute="" href="cic-en.html" class="hamburger-menu-link {% if section == 'cic-en' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">CIC</span>
        </div>
      </a>
      <a data-attribute="" href="contact.html" class="hamburger-menu-link {% if section == 'contact' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">CONTACT</span>
        </div>
      </a>
      <a data-attribute="" href="{% if section == 'home' %} index.html {% elif section == 'about-us' %} nosotros.html {% elif section == 'cic-en' %} cic.html {% elif section == 'contact' %} contacto.html {% endif %}" class="hamburger-menu-link {% if section == 'about-us' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">ES</span>
        </div>
      </a>
      <a data-attribute="" href="{% if section == 'index' %} home.html {% elif section == 'nosotros' %} about-us.html {% elif section == 'cic' %} cic-en.html {% elif section == 'contacto' %} contact.html {% endif %}" class="hamburger-menu-link {% if section == 'about-us' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text" style="{% if section == 'home' or section == 'about-us' or section == 'cic-en' or section == 'contact' %} font-weight: bold; {% endif %}">EN</span>
        </div>
      </a>
    </div>
  </div>
</nav>
