<nav class="site-navbar">
  <div class="site-navbar__desktop-logo-container">
    <a href="index.html">
      <img class="ican-navbar-logo" src="img/logos/ican-logo.png" alt="Logo">
    </a>
  </div>
  <div class="site-navbar__menu-container">
    <div class="site-navbar__menu {% if section == 'index' %} nav-selected-link-container {% endif %}">
      <a href="index.html" class="site-navbar__menu-link {% if section == 'index' %} active {% endif %}">
        <span class="ican-font-metropolis-semibold ican-site-link nav-link {% if section == 'index' %} nav-selected-link {% endif %}">HOME</span>
      </a>
    </div>
    <div class="site-navbar__menu {% if section == 'about-us' %} nav-selected-link-container {% endif %}">
      <a href="about-us.html" class="site-navbar__menu-link {% if section == 'about-us' %} active {% endif %}">
        <span class="ican-font-metropolis-semibold ican-site-link nav-link {% if section == 'about-us' %} nav-selected-link {% endif %}">ABOUT US</span>
      </a>
    </div>
    <div class="site-navbar__menu {% if section == 'contact' %} nav-selected-link-container {% endif %}">
      <a href="contact.html" class="site-navbar__menu-link {% if section == 'contact' %} active {% endif %}">
        <span class="ican-font-metropolis-semibold ican-site-link nav-link {% if section == 'contact' %} nav-selected-link {% endif %}">CONTACT</span>
      </a>
    </div>
    <div class="nav-separator"></div>
    <div class="nav-lang-container">
      <a href="{% if section == 'index' %} inicio.html {% elif section == 'about-us' %} nosotros.html {% elif section == 'contact' %} contacto.html {% endif %}">
        <span class="ican-font-metropolis-regular ican-site-link nav-link">ES</span>
      </a>
      <a href="{% if section == 'inicio' %} index.html {% elif section == 'nosotros' %} about-us.html {% elif section == 'contacto' %} contact.html {% endif %}">
        <span class="ican-font-metropolis-regular ican-site-link nav-link" style="{% if section == 'index' or section == 'about-us' or section == 'contact' %} font-weight: bold; {% endif %}">EN</span>
      </a>
    </div>
  </div>
</nav>
