<nav class="site-navbar">
  <div class="site-navbar__desktop-logo-container">
    <a href="inicio.html">
      <img class="ican-navbar-logo" src="img/logos/ican-logo.png" alt="Logo">
    </a>
  </div>
  <div class="site-navbar__menu-container">
    <div class="site-navbar__menu {% if section == 'inicio' %} nav-selected-link-container {% endif %}">
      <a href="inicio.html" class="site-navbar__menu-link {% if section == 'inicio' %} active {% endif %}">
        <span class="ican-font-metropolis-semibold ican-site-link nav-link {% if section == 'inicio' %} nav-selected-link {% endif %}">INICIO</span>
      </a>
    </div>
    <div class="site-navbar__menu {% if section == 'nosotros' %} nav-selected-link-container {% endif %}">
      <a href="nosotros.html" class="site-navbar__menu-link {% if section == 'nosotros' %} active {% endif %}">
        <span class="ican-font-metropolis-semibold ican-site-link nav-link {% if section == 'nosotros' %} nav-selected-link {% endif %}">NOSOTROS</span>
      </a>
    </div>
    <div class="site-navbar__menu {% if section == 'contacto' %} nav-selected-link-container {% endif %}">
      <a href="contacto.html" class="site-navbar__menu-link {% if section == 'contacto' %} active {% endif %}">
        <span class="ican-font-metropolis-semibold ican-site-link nav-link {% if section == 'contacto' %} nav-selected-link {% endif %}">CONTACTO</span>
      </a>
    </div>
    <div class="nav-separator"></div>
    <div class="nav-lang-container">
      <a href="{% if section == 'index' %} inicio.html {% elif section == 'about-us' %} nosotros.html {% elif section == 'contact' %} contacto.html {% endif %}">
        <span class="ican-font-metropolis-regular ican-site-link nav-link" style="{% if section == 'inicio' or section == 'nosotros' or section == 'contacto' %} font-weight: bold; {% endif %}">ES</span>
      </a>
      <a href="{% if section == 'inicio' %} index.html {% elif section == 'nosotros' %} about-us.html {% elif section == 'contacto' %} contact.html {% endif %}">
        <span class="ican-font-metropolis-regular ican-site-link nav-link">EN</span>
      </a>
    </div>
  </div>
</nav>
