<nav class="site-navbar">
  <div class="site-navbar__desktop-logo-container">
    <a href="index.html">
      <img class="ican-navbar-logo" src="img/logos/ican-logo.png" alt="Logo">
    </a>
  </div>
  <div class="site-navbar__menu-container">
    <div class="site-navbar__menu {% if section == 'index' %} nav-selected-link-container {% endif %}">
      <a href="index.html" class="site-navbar__menu-link {% if section == 'index' %} active {% endif %}">
        <span class="ican-font-metropolis-semibold ican-site-link nav-link {% if section == 'index' %} nav-selected-link {% endif %}">INICIO</span>
      </a>
    </div>
    <div class="site-navbar__menu {% if section == 'nosotros' %} nav-selected-link-container {% endif %}">
      <a href="nosotros.html" class="site-navbar__menu-link {% if section == 'nosotros' %} active {% endif %}">
        <span class="ican-font-metropolis-semibold ican-site-link nav-link {% if section == 'nosotros' %} nav-selected-link {% endif %}">NOSOTROS</span>
      </a>
    </div>
    <div class="site-navbar__menu {% if section == 'contacto' %} nav-selected-link-container {% endif %}">
      <a href="contacto.html" class="site-navbar__menu-link {% if section == 'contacto' %} active {% endif %}">
        <span class="ican-font-metropolis-semibold ican-site-link nav-link {% if section == 'contacto' %} nav-selected-link {% endif %}">CONTACTO</span>
      </a>
    </div>
    <div class="nav-separator"></div>
    <div class="nav-lang-container">
      <a href="{% if section == 'home' %} index.html {% elif section == 'about-us' %} nosotros.html {% elif section == 'contact' %} contacto.html {% endif %}">
        <span class="ican-font-metropolis-regular ican-site-link nav-link" style="{% if section == 'index' or section == 'nosotros' or section == 'contacto' %} font-weight: bold; {% endif %}">ES</span>
      </a>
      <a href="{% if section == 'index' %} home.html {% elif section == 'nosotros' %} about-us.html {% elif section == 'contacto' %} contact.html {% endif %}">
        <span class="ican-font-metropolis-regular ican-site-link nav-link">EN</span>
      </a>
    </div>
  </div>
  <div data-attribute="" class="navbar-hamburguer-visibility"  id="hamburgerMenu">
    <div data-attribute="">
      <img class="hamburger-menu-icon" src="img/icons/menu.png" data-attribute="">
    </div>
  </div>
  <div class="hamburger-menu-container" id="menuContainer" data-attribute="">
    <div class="hamburger-menu-header" data-attribute="">
      <div class="" data-attribute="">
        <a href="index.html" data-attribute="">
          <img class="hamburger-logo" src="img/logos/ican-logo.png" data-attribute="">
        </a>
      </div>
      <div class="hamburger-close-container" id="hideHamburger">
        <img class="hamburger-close" src="img/icons/close-menu.png">
      </div>
    </div>
    <div class="hamburger-menu-body ican-font-metropolis-regular" data-attribute="">
      <a data-attribute="" href="index.html" class="hamburger-menu-link {% if section == 'index' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">INICIO</span>
        </div>
      </a>
      <a data-attribute="" href="nosotros.html" class="hamburger-menu-link {% if section == 'nosotros' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">NOSOTROS</span>
        </div>
      </a>
      <a data-attribute="" href="contacto.html" class="hamburger-menu-link {% if section == 'contacto' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">CONTACTO</span>
        </div>
      </a>
      <a data-attribute="" href="{% if section == 'home' %} index.html {% elif section == 'about-us' %} nosotros.html {% elif section == 'contact' %} contacto.html {% endif %}" class="hamburger-menu-link {% if section == 'about-us' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text" style="{% if section == 'index' or section == 'nosotros' or section == 'contacto' %} font-weight: bold; {% endif %}">ES</span>
        </div>
      </a>
      <a data-attribute="" href="{% if section == 'index' %} home.html {% elif section == 'nosotros' %} about-us.html {% elif section == 'contacto' %} contact.html {% endif %}" class="hamburger-menu-link {% if section == 'about-us' %}link-active{% endif %}">
        <div class="hamburger-link-container">
          <div class="hamburger-stroke-container">
            <div class="hamburger-stroke"></div>
          </div>
          <span class="hamburger-text">EN</span>
        </div>
      </a>
    </div>
  </div>
</nav>
