<footer class="site-footer bg-img-base">
  <div class="footer-decorator {% if section == 'inicio' %} line-home {% endif %} {% if section == 'nosotros' %} line-about {% endif %} {% if section == 'contacto' %} line-contact {% endif %}"></div>
  <div class="site-footer-first-section">
    <div class="site-footer-logo-container">
      <a href="inicio.html">
        <img class="site-footer-logo" src="img/logos/ican-logo-variant.png">
      </a>
    </div>
    <div class="site-footer-separator"></div>
    <div class="site-footer-links-section">
      <div class="site-footer-links-container">
        <div class="site-footer-link-space">
          <a href="inicio.html">
            <span class="ican-site-link {% if section == 'inicio' %} link-selected {% endif %}">INICIO</span>
          </a>
        </div>
        <div class="site-footer-link-space">
          <a href="nosotros.html">
            <span class="ican-site-link {% if section == 'nosotros' %} link-selected {% endif %}">NOSOTROS</span>
          </a>
        </div>
        <div class="site-footer-link-space">
          <a href="contact.html">
            <span class="ican-site-link {% if section == 'contacto' %} link-selected {% endif %}">CONTACTO</span>
          </a>
        </div>
      </div>
      <div class="site-footer-links-container">
        <div class="site-footer-link-space">
          <a href="https://www.linkedin.com/company/ican-ac/" target="_blank">
            <div class="footer-social-link-container">
              <div class="footer-icon-social-container">
                <img class="footer-icon-in" src="img/icons/ican-in.png">
              </div>
              <span class="ican-site-link">InstitutodelCannabis</span>
            </div>
          </a>
        </div>
        <div class="site-footer-link-space">
          <a href="https://www.facebook.com/medicinalmx/" target="_blank">
            <div class="footer-social-link-container">
              <div class="footer-icon-social-container">
                <img class="footer-icon-fb" src="img/icons/ican-fb.png">
              </div>
              <span class="ican-site-link">medicinalmx</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="site-footer-notice-container">
    <a href="aviso-de-privacidad.html">
      <span class="ican-site-link">Aviso de privacidad</span>
    </a>
  </div>
</footer>
