<footer class="site-footer bg-img-base">
  <div class="footer-decorator {% if section == 'home' %} line-home {% endif %} {% if section == 'nosotros' %} line-about {% endif %} {% if section == 'contacto' %} line-contact {% endif %}"></div>
  <div class="site-footer-first-section">
    <div class="site-footer-logo-container">
      <a href="index.html">
        <img class="site-footer-logo" src="img/logos/ican-logo-variant.png">
      </a>
    </div>
    <div class="site-footer-separator"></div>
    <div class="site-footer-links-section">
      <div class="site-footer-links-container">
        <div class="site-footer-link-space">
          <a href="index.html">
            <span class="ican-site-link ican-font-metropolis-regular {% if section == 'index' %} link-selected {% endif %}">INICIO</span>
          </a>
        </div>
        <div class="site-footer-link-space">
          <a href="nosotros.html">
            <span class="ican-site-link ican-font-metropolis-regular {% if section == 'nosotros' %} link-selected {% endif %}">NOSOTROS</span>
          </a>
        </div>
        <div class="site-footer-link-space">
          <a href="cic.html">
            <span class="ican-site-link ican-font-metropolis-regular {% if section == 'cic' %} link-selected {% endif %}">CIC</span>
          </a>
        </div>
      </div>
      <div class="site-footer-links-container">
        <div class="site-footer-link-space">
          <a href="http://blog.ican.mx/">
            <span class="ican-site-link ican-font-metropolis-regular {% if section == 'blog' %} link-selected {% endif %}">BLOG</span>
          </a>
        </div>
        <div class="site-footer-link-space">
          <a href="contacto.html">
            <span class="ican-site-link ican-font-metropolis-regular {% if section == 'contacto' %} link-selected {% endif %}">CONTACTO</span>
          </a>
        </div>
      </div>
      <div class="site-footer-links-container">
        <div class="site-footer-link-space">
          <a href="https://www.linkedin.com/company/ican-ac/" target="_blank">
            <div class="footer-social-link-container">
              <div class="footer-icon-social-container">
                <img class="footer-icon-in" src="img/icons/ican-in.png">
              </div>
              <span class="ican-site-link site-link-margin-top">InstitutodelCannabis</span>
            </div>
          </a>
        </div>
        <div class="site-footer-link-space">
          <a href="https://www.facebook.com/medicinalmx/" target="_blank">
            <div class="footer-social-link-container">
              <div class="footer-icon-social-container">
                <img class="footer-icon-fb" src="img/icons/ican-fb.png">
              </div>
              <span class="ican-site-link site-link-margin-top">medicinalmx</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="site-footer-notice-container">
    <a href="aviso-de-privacidad.html">
      <span class="ican-site-link ican-font-metropolis-regular">Aviso de privacidad</span>
    </a>
  </div>
</footer>
