.site-footer
  align-items center
  background-image url("../img/backgrounds/footer-background.jpg")
  bottom 0
  display flex
  flex-direction column
  justify-content center
  height 270px
  position absolute
  width 100%

.site-footer-first-section
  align-items center
  display flex
  flex-direction row
  justify-content center

.site-footer-first-section:nth-child(2) > .site-footer-links-container
  margin-right 38px

.site-footer-logo-container,
.site-footer-logo
  height 80px
  width 100px

.site-footer-separator
  background-color $icanGreen
  height 80px
  margin 0 47px
  width 2px

.site-footer-links-container
  display flex
  flex-direction column

.site-footer-link-space
  padding 5px 0

.footer-social-link-container > span
  margin-left 12px

.link-selected
  color $icanGreen

.footer-social-link-container
  display flex
  flex-direction row

.footer-icon-social-container
  display flex
  justify-content center

.footer-icon-social-container,
.footer-icon-in
  height 14px
  width 15px

.footer-icon-fb
  height 13px
  width 7px

.site-footer-notice-container
  margin-top 30px

  & a span
    text-decoration underline

.footer-decorator
  background-color $icanGreen
  position absolute
  width 2px

.line
  &-home
    height 74px
    right 17%
    top 0

  &-about
    height 174px
    left 107px
    top -87px
