.site-footer
  align-items center
  background-image url("../img/backgrounds/footer-background.jpg")
  bottom 0
  display flex
  flex-direction column
  justify-content center
  height 270px
  position absolute
  width 100%

.site-footer-first-section
  align-items center
  display flex
  flex-direction row
  justify-content center

.site-footer-first-section:nth-child(2) > .site-footer-links-container
  margin-right 38px

.site-footer-logo-container,
.site-footer-logo
  height 80px
  width 100px

.site-footer-separator
  background-color $icanGreen
  height 80px
  margin 0 47px
  width 2px

.site-footer-links-section
  display flex
  flex-direction row

.site-footer-links-container
  margin-right 40px

.site-footer-links-container
  display flex
  flex-direction column

.site-footer-link-space
  padding 5px 0

.footer-social-link-container > span
  margin-left 12px

.link-selected
  color $icanGreen

.footer-social-link-container
  display flex
  flex-direction row

.footer-icon-social-container
  display flex
  justify-content center

.footer-icon-social-container,
.footer-icon-in
  height 14px
  width 15px

.footer-icon-fb
  height 13px
  width 7px

.site-footer-notice-container
  margin-top 30px

  & a span
    text-decoration underline

.footer-decorator
  background-color $icanGreen
  position absolute
  width 2px

.line
  &-home
    height 148px
    right 17%
    top -74px

  &-about
    height 174px
    left 107px
    top -87px

  &-contact
    height 147px
    right 198px
    top -73.5px

.footer-social-network-margin
  margin-bottom 10px

.site-link-margin-top
  margin-top 2px;

.footer-warnings-container
  display flex
  flex-direction row

  & .site-footer-notice-container:first-child
    margin-right 20px

@media screen and (max-width 768px)
  .site-footer
    height 330px

  .site-footer-first-section
    flex-direction column

  .site-footer-separator
    height 2px
    margin 25px 0
    width 80px

  .line
    &-about
      left 57px

    &-contact
      right 60px

  .site-link-margin-top
    margin-top 4px

  .site-footer-links-section
    flex-wrap wrap
    justify-content center

  .site-footer-links-container
    margin-right 20px

  .site-footer-links-container:nth-child(3)
    margin-right 0
