@font-face {
  font-family: 'HindSiliguri';
  src: url('../fonts/HindSiliguri-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HindSiliguri-Light.woff') format('woff'),
    url('../fonts/HindSiliguri-Light.ttf')  format('truetype'),
    url('../fonts/HindSiliguri-Light.svg') format('svg');
  font-weight: $black;
  font-style: italic;
}

@font-face {
  font-family: 'HindSiliguri';
  src: url('../fonts/HindSiliguri-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HindSiliguri-Medium.woff') format('woff'),
    url('../fonts/HindSiliguri-Medium.ttf')  format('truetype'),
    url('../fonts/HindSiliguri-Medium.svg') format('svg');
  font-weight: $black;
  font-style: italic;
}

@font-face {
  font-family: 'HindSiliguri';
  src: url('../fonts/HindSiliguri-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HindSiliguri-Regular.woff') format('woff'),
    url('../fonts/HindSiliguri-Regular.ttf')  format('truetype'),
    url('../fonts/HindSiliguri-Regular.svg') format('svg');
  font-weight: $black;
  font-style: italic;
}

@font-face {
  font-family: 'HindSiliguri';
  src: url('../fonts/HindSiliguri-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HindSiliguri-SemiBold.woff') format('woff'),
    url('../fonts/HindSiliguri-SemiBold.ttf')  format('truetype'),
    url('../fonts/HindSiliguri-SemiBold.svg') format('svg');
  font-weight: $black;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-BlackItalic.woff') format('woff'),
    url('../fonts/Metropolis-BlackItalic.ttf')  format('truetype'),
    url('../fonts/Metropolis-BlackItalic.svg') format('svg');
  font-weight: $black;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Bold.woff') format('woff'),
    url('../fonts/Metropolis-Bold.ttf')  format('truetype'),
    url('../fonts/Metropolis-Bold.svg') format('svg');
  font-weight: $bold;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-BoldItalic.woff') format('woff'),
    url('../fonts/Metropolis-BoldItalic.ttf')  format('truetype'),
    url('../fonts/Metropolis-BoldItalic.svg') format('svg');
  font-weight: $bold;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-ExtraBold.woff') format('woff'),
    url('../fonts/Metropolis-ExtraBold.ttf')  format('truetype'),
    url('../fonts/Metropolis-ExtraBold.svg') format('svg');
  font-weight: $extrabold;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Metropolis-ExtraBoldItalic.ttf')  format('truetype'),
    url('../fonts/Metropolis-ExtraBoldItalic.svg') format('svg');
  font-weight: $extrabold;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-ExtraLight.woff') format('woff'),
    url('../fonts/Metropolis-ExtraLight.ttf')  format('truetype'),
    url('../fonts/Metropolis-ExtraLight.svg') format('svg');
  font-weight: $extralight;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-ExtraLightItalic.woff') format('woff'),
    url('../fonts/Metropolis-ExtraLightItalic.ttf')  format('truetype'),
    url('../fonts/Metropolis-ExtraLightItalic.svg') format('svg');
  font-weight: $extralight;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Light.woff') format('woff'),
    url('../fonts/Metropolis-Light.ttf')  format('truetype'),
    url('../fonts/Metropolis-Light.svg') format('svg');
  font-weight: $light;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-LightItalic.woff') format('woff'),
    url('../fonts/Metropolis-LightItalic.ttf')  format('truetype'),
    url('../fonts/Metropolis-LightItalic.svg') format('svg');
  font-weight: $light;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Medium.woff') format('woff'),
    url('../fonts/Metropolis-Medium.ttf')  format('truetype'),
    url('../fonts/Metropolis-Medium.svg') format('svg');
  font-weight: $medium;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-MediumItalic.woff') format('woff'),
    url('../fonts/Metropolis-MediumItalic.ttf')  format('truetype'),
    url('../fonts/Metropolis-MediumItalic.svg') format('svg');
  font-weight: $medium;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Regular.woff') format('woff'),
    url('../fonts/Metropolis-Regular.ttf')  format('truetype'),
    url('../fonts/Metropolis-Regular.svg') format('svg');
  font-weight: $regular;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-RegularItalic.woff') format('woff'),
    url('../fonts/Metropolis-RegularItalic.ttf')  format('truetype'),
    url('../fonts/Metropolis-RegularItalic.svg') format('svg');
  font-weight: $regular;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-SemiBold.woff') format('woff'),
    url('../fonts/Metropolis-SemiBold.ttf')  format('truetype'),
    url('../fonts/Metropolis-SemiBold.svg') format('svg');
  font-weight: $semibold;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Metropolis-SemiBoldItalic.ttf')  format('truetype'),
    url('../fonts/Metropolis-SemiBoldItalic.svg') format('svg');
  font-weight: $semibold;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Thin.woff') format('woff'),
    url('../fonts/Metropolis-Thin.ttf')  format('truetype'),
    url('../fonts/Metropolis-Thin.svg') format('svg');
  font-weight: $thin;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-ThinItalic.woff') format('woff'),
    url('../fonts/Metropolis-ThinItalic.ttf')  format('truetype'),
    url('../fonts/Metropolis-ThinItalic.svg') format('svg');
  font-weight: $thin;
  font-style: italic;
}

.ican-font-hindsiliguri-light
  font-family 'HindSiliguri'
  font-weight $light
  font-style normal

.ican-font-hindsiliguri-medium
  font-family 'HindSiliguri'
  font-weight $medium
  font-style normal

.ican-font-hindsiliguri-regular
  font-family 'HindSiliguri'
  font-weight $regular
  font-style normal

.ican-font-hindsiliguri-semibold
  font-family 'HindSiliguri'
  font-weight $semibold
  font-style normal

.ican-font-metropolis-black-italic
  font-family 'Metropolis'
  font-weight $black
  font-style italic

.ican-font-metropolis-bold
  font-family 'Metropolis'
  font-weight $bold
  font-style normal

.ican-font-metropolis-bold-italic
  font-family 'Metropolis'
  font-weight $bold
  font-style italic

.ican-font-metropolis-extrabold
  font-family 'Metropolis'
  font-weight $extrabold
  font-style normal

.ican-font-metropolis-extrabold-italic
  font-family 'Metropolis'
  font-weight $extrabold
  font-style italic

.ican-font-metropolis-extralight
  font-family 'Metropolis'
  font-weight $extralight
  font-style normal

.ican-font-metropolis-extralight-italic
  font-family 'Metropolis'
  font-weight $extralight
  font-style italic

.ican-font-metropolis-light
  font-family 'Metropolis'
  font-weight $light
  font-style normal

.ican-font-metropolis-light-italic
  font-family 'Metropolis'
  font-weight $light
  font-style italic

.ican-font-metropolis-medium
  font-family 'Metropolis'
  font-weight $medium
  font-style normal

.ican-font-metropolis-medium-italic
  font-family 'Metropolis'
  font-weight $medium
  font-style italic

.ican-font-metropolis-regular
  font-family 'Metropolis'
  font-weight $regular
  font-style normal

.ican-font-metropolis-regular-italic
  font-family 'Metropolis'
  font-weight $regular
  font-style italic

.ican-font-metropolis-semibold
  font-family 'Metropolis'
  font-weight $semibold
  font-style normal

.ican-font-metropolis-semibold-italic
  font-family 'Metropolis'
  font-weight $semibold
  font-style italic

.ican-font-metropolis-thin
  font-family 'Metropolis'
  font-weight $thin
  font-style normal

.ican-font-metropolis-thin-italic
  font-family 'Metropolis'
  font-weight $thin
  font-style italic
