.cover
  background-position center
  background-size cover

.simple-parallax
  background-attachment fixed

  @media screen and (max-width: 767px)
    background-attachment initial

.vertical-center
  align-items center
  display flex
  justify-content center

.legal-warning
  color: #4d4d4d;
  font-size: 1rem;
  line-height: 31px;
  padding 150px 10% 100px 10%

  & h2, span
    color #839d65
